@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-color;
}

body,
button,
ul,
li,
span {
  font-family: $body-font;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
