$body-color: #ccc;
$body-font: "Poppins", sans-serif;
$text-color: #a4548099;

/*
  -----------------------------------------------------
                  COLORS
  -----------------------------------------------------

*/
$white100: #fff;
$greyLight: #ddd;
$grey600: #a2a2a2;
$red700: #dd2121;
$black700: #222;
