.container {
  height: inherit;
  background-color: rgba(214, 214, 214, 0.984);
  display: flex;
  justify-content: center;
}

.text {
  font-size: 7rem;
  font-weight: 200;
  color: rgba(164, 84, 128, 0.6);
  text-align: center;
}

.input {
  height: 3rem;
  width: 40rem;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(162, 162, 162);
}

.input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
  opacity: 0.4;
}

.todoContainer {
  max-height: 22rem;
  overflow-y: auto;
  background-color: #fff;
}

.todo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(162, 162, 162);
  padding: 0.5rem 1rem;
}

.todo:last-child {
  border-bottom: none;
}

.completeTodo {
  display: none;
}

.checkmark {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #222;
  display: inline-block;
  border-radius: 50%;
  margin-right: 1rem;
}

.todo input:checked + .checkmark {
  border: 1px solid #dd2121;
  background-color: #dd2121;
}

.todoName {
  font-size: 1.75rem;
  font-weight: 300;
}

.footer {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(162, 162, 162);
}

.footerText,
.clearCompleted {
  font-weight: 300;
}

.clearCompleted {
  pointer-events: none;
  opacity: 0;
}

.btnContainer {
  display: flex;
  column-gap: 1rem;
}

.btn {
  padding: 5px 10px;
  border: 1px solid rgb(162, 162, 162);
  border-radius: 4px;
  font-weight: 300;
}

.btn:hover {
  background-color: #ddd;
}
