@use "../../styles/variables";

.container {
  height: 100vh;
  background-color: variables.$body-color;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 7rem;
  font-weight: 200;
  color: variables.$text-color;
  text-align: center;
}

.input {
  height: 3rem;
  width: 40rem;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid variables.$grey600;
}

.input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
  opacity: 0.4;
}

.todoContainer {
  max-height: 22rem;
  overflow-y: auto;
  background-color: variables.$white100;
}

.todo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid variables.$grey600;
  padding: 0.5rem 1rem;
}

.todo:last-child {
  border-bottom: none;
}

.checkmark {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid variables.$black700;
  display: inline-block;
  border-radius: 50%;
  margin-right: 1rem;
}

.todo input:checked + .checkmark {
  border: 1px solid variables.$red700;
  background-color: variables.$red700;
}
